<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 목록</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
    <!-- 헤더 -->
    <div th:replace="~{fragment/bodyHeader :: userAdinHeader(${username})}"></div>

    <div class="container mt-4">
        <h1 class="mt-4">상품 목록</h1>
        <table class="table">
            <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>생성 날짜</th>
                <th>수정</th>
                <th>삭제</th>
            </tr>
            </thead>
            <tbody>
           <tr th:each="boardItem : ${boardItems}">
                <td th:text="${boardItem.id}"></td>
            <!--<tr th:each="boardItem, status : ${boardItems}">
                <td th:text="${status.index}"></td>-->
                <td>
                    <a th:href="@{/items/{id}(id=${boardItem.id})}" th:text="${boardItem.name}"></a>
                </td>
                <td th:text="${boardItem.createdDate}"></td>
                <td>
                    <a th:href="@{/admins/{username}/items/{id}/modify(username=${username}, id=${boardItem.id})}">수정</a>
                </td>
                <td>
                    <a th:href="@{/admins/{username}/items/{id}/remove(username=${username}, id=${boardItem.id})}">삭제</a>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="pagination justify-content-center">
            <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
                <a th:if="${page != nowPage}" th:href="@{/admins/{username}/items(username=${username}, page=${page - 1})}" class="page-link" th:text="${page}"></a>
                <strong th:if="${page == nowPage}" th:text="${page}" class="page-link" style="color: red"></strong>
            </th:block>
        </div>

    </div>

    <!-- 푸터 -->
    <div th:replace="~{fragment/bodyFooter :: footer}"></div>

    <script src="/js/bootstrap.bundle.js"></script>
</body>
</html>
