<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopping Mall</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>

<body>
    <!-- 헤더 -->
    <div th:replace="~{fragment/bodyHeader :: guestHeader}"></div>

    <!-- 메인 섹션 -->
    <main style="padding-top: 20px; padding-bottom: 20px;">
        <section class="jumbotron text-center">
            <div class="container">
                <h1>Welcome to our Shopping Mall</h1>
                <p>We have a wide selection of products for you to choose from.</p>
                <a href="#" class="btn btn-primary">Shop Now</a>
            </div>
        </section>

        <section class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <img src="image1.jpg" class="card-img-top" alt="Image 1">
                        <div class="card-body">
                            <h5 class="card-title">Product 1</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <a href="#" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <img src="image2.jpg" class="card-img-top" alt="Image 2">
                        <div class="card-body">
                            <h5 class="card-title">Product 2</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <a href="#" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <img src="image3.jpg" class="card-img-top" alt="Image 3">
                        <div class="card-body">
                            <h5 class="card-title">Product 3</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <a href="#" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

<!-- 푸터 -->
<div th:replace="~{fragment/bodyFooter :: footer}"></div>

<script src="/js/bootstrap.bundle.js"></script>
</body>
</html>
