<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopping Mall</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/sign-up}">Sign Up</a></li>
            <li><a th:href="@{/sign-in}">Sign In</a></li>
        </ul>
    </nav>
</header>
<main>
    <h1>Welcome to our Shopping Mall</h1>
    <p>We have a wide selection of products for you to choose from.</p>
</main>
<footer>
    <p>&copy; 2023 Shopping Mall. All Rights Reserved.</p>
</footer>
</body>
</html>
