<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 상세 페이지</title>
</head>
<body>
<h1 th:text="${bulletinItem.name}"></h1>

<div class="image">
    <img th:src="|/images/${bulletinItem.storeFileName}|" alt="Product Image">
</div>

<div class="info">
    <p>가격: <span th:text="${bulletinItem.price}"></span></p>
    <p>
        수량:
        <input type="number" id="quantity" name="quantity" min="1" value="1">
    </p>
    <!--<form th:action="@{/users/}" method="post">
        <button type="submit">장바구니</button>
    </form>-->
    <form th:action="@{/users/{username}/orders(username=${username})}" method="post">
        <button type="submit">구매하기</button>
    </form>
</div>

<div class="contents" th:text="${bulletinItem.contents}"></div>
</body>
</html>
