<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
    <link rel="stylesheet" href="/css/bootstrap.css">

</head>
<body>
    <!-- 헤더 -->
    <div th:replace="~{fragment/bodyHeader :: guestHeader}"></div>

    <!-- 메인 -->
    <main style="padding-top: 20px; padding-bottom: 20px;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <h1>Sign in</h1>
                    <form th:action th:object="${signIn}" method="post">
                        <div th:if="${#fields.hasGlobalErrors()}">
                            <p th:each="err : ${#fields.globalErrors()}" th:text="${err}" class="error-message"></p>
                        </div>
                        <div class="form-group" th:class="${#fields.hasErrors('username')} ? 'has-error'">
                            <label for="username">아이디:</label>
                            <input type="text" id="username" th:field="*{username}" class="form-control" required>
                            <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger"></p>
                        </div>
                        <div class="form-group" th:class="${#fields.hasErrors('password')} ? 'has-error'">
                            <label for="password">비밀번호:</label>
                            <input type="password" id="password" th:field="*{password}" class="form-control" required>
                            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></p>
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">Sign in</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <!-- 푸터 -->
    <div th:replace="~{fragment/bodyFooter :: footer}"></div>
    <script src="/js/bootstrap.bundle.js"></script>
</body>
</html>
