<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>주문 아이템 목록</title>
</head>
<body>
<h1>주문 아이템 목록</h1>

<form th:action="@{/users/{username}/orders/{id}/create(username=${username},id=${id})}" method="get">
    <table>
        <thead>
        <tr>
            <th></th>
            <th>이미지</th>
            <th>상품명</th>
            <th>가격</th>
            <th>수량</th>
            <th>주문 가격</th>
        </tr>
        </thead>
        <tbody>
        <!-- OrderItem 리스트를 반복하여 행 생성 -->
        <tr th:each="orderItem : ${orderItems}">
            <td>
                <!-- 이미지 -->
                <img th:src="|/images/${orderItem.storeFileName}|" alt="Product Image">
            </td>
            <td th:text="${orderItem.name}"></td>
            <td th:text="${orderItem.price}"></td>
            <td th:text="${orderItem.count}"></td>
            <td th:text="${orderItem.orderPrice}"></td>
        </tr>
        </tbody>
    </table>

    <!-- 주문하기 버튼 -->
    <button type="submit">주문하기</button>
</form>
</body>
</html>
