<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>결제 페이지</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <style>
        .product-image {
            width: 75px;
            height: 100px;
            object-fit: cover;
        }
        .spacing {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    </style>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body class = "d-flex flex-column min-vh-100">
<!-- 헤더 -->
<div th:replace="~{fragment/bodyHeader :: userAdinHeader(${username})}"></div>

<form th:action method="post">
    <div class="container mt-4">
        <h1 class = "mt-4">결제 페이지</h1>
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>이미지</th>
                        <th>상품명</th>
                        <th>가격</th>
                        <th>수량</th>
                        <th>주문 가격</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- OrderItem 리스트를 반복하여 행 생성 -->
                    <tr th:each="orderItem : ${orderItems}">
                        <td></td>
                        <td class="image-cell">
                            <!-- 이미지 -->
                            <img th:src="|/images/${orderItem.storeFileName}|" class="product-image">
                        </td>
                        <td th:text="${orderItem.name}"></td>
                        <td th:text="${orderItem.price}"></td>
                        <td th:text="${orderItem.count}"></td>
                        <td th:text="${orderItem.orderPrice}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--배송지 선택-->

    <div class="container col-md-8">
        <div id ="addressSelect" class="row">
            <div class="col">
                <div th:if="${availableOrderAddresses.size()==0}">
                    <select name="shippingAddress" class="form-select">
                        <option value="">배송지가 없습니다</option>
                    </select>
                </div>
                <div th:unless="${availableOrderAddresses.size()==0}">
                    <select name="shippingAddressId" class="form-select">
                        <option value="">배송지를 선택하세요</option>
                        <th:block th:each="availableOrderAddress : ${availableOrderAddresses}">
                            <option th:value="${availableOrderAddress.id}"
                                    th:text="${availableOrderAddress.address} + ' ' + ${availableOrderAddress.detailAddress}"></option>
                        </th:block>
                    </select>
                </div>
            </div>
        </div>
        <div class="spacing">
            <div class="row">
                <div class="col col-md-3">
                    <input type="text" class="form-control" id="sample4_postcode" placeholder="우편번호">
                </div>
                <div class="col col-md-3">
                    <input type="text" class="form-control" id="sample4_roadAddress" placeholder="도로명주소">
                </div>
                <div class="col">
                    <input type="button" class="btn btn-primary" onclick="sample4_execDaumPostcode()" value="우편번호 찾기">
                </div>
            </div>
            <div class="row spacing">
                <div class="col col-md-3">
                    <input type="text" class="form-control" id="sample4_jibunAddress" placeholder="지번주소">
                    <span id="guide" style="color:#999;display:none"></span>
                </div>
                <div class="col col-md-3">
                    <input type="text" class="form-control" id="sample4_detailAddress" placeholder="상세주소">
                </div>
                <div class="col col-md-2">
                    <input type="text" class="form-control" id="sample4_extraAddress" placeholder="참고항목">
                    <input type="hidden" class="form-control" id="username" th:value="${username}">
                </div>
                <div class="col">
                    <button type="button" class="btn btn-primary" onclick="addOrderAddress()" >배송지 추가</button>
                </div>
            </div>
        </div>
    </div>

    <h2 class="text-center mb-4">총 주문 가격: <span th:text="${totalPrice}"></span></h2>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">결제하기</button>
            </div>
        </div>
    </div>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
</form>
<!-- 푸터 -->
<div th:replace="~{fragment/bodyFooter :: footer}"></div>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    //본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
    function sample4_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function (data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var roadAddr = data.roadAddress; // 도로명 주소 변수
                var extraRoadAddr = ''; // 참고 항목 변수

                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if (data.buildingName !== '' && data.apartment === 'Y') {
                    extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if (extraRoadAddr !== '') {
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample4_postcode').value = data.zonecode;
                document.getElementById("sample4_roadAddress").value = roadAddr;
                document.getElementById("sample4_jibunAddress").value = data.jibunAddress;

                // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                if (roadAddr !== '') {
                    document.getElementById("sample4_extraAddress").value = extraRoadAddr;
                } else {
                    document.getElementById("sample4_extraAddress").value = '';
                }

                var guideTextBox = document.getElementById("guide");
                // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                if (data.autoRoadAddress) {
                    var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                    guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                    guideTextBox.style.display = 'block';

                } else if (data.autoJibunAddress) {
                    var expJibunAddr = data.autoJibunAddress;
                    guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                    guideTextBox.style.display = 'block';
                } else {
                    guideTextBox.innerHTML = '';
                    guideTextBox.style.display = 'none';
                }
            }
        }).open();
    }
    function addOrderAddress() {
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");

        var postCode = $("#sample4_postcode").val();
        var roadAddress = $("#sample4_roadAddress").val();
        var detailAddress = $("#sample4_detailAddress").val();
        var username = $("#username").val();

        var url = "/users/" + username + "/shippingAddresses/register";

        var orderAddress = {
            postCode: postCode,
            address: roadAddress,
            detailAddress: detailAddress
        };

        console.log("url : ", url);

        $.ajax({
            type: "POST",
            url: url,
            contentType: "application/json",
            data: JSON.stringify(orderAddress),
            beforeSend: function (xhr) {
                xhr.setRequestHeader(header, token);
            },
            cache: false,
            success: function (response) {
                updateOrderAddresses(response);
                alert("배송치 추가 성공")
            }
        });
    }
    function updateOrderAddresses(availableOrderAddresses) {
        var selectElement = $("select[name='shippingAddress']");
        selectElement.empty(); // 기존 옵션 제거
        $('#addressSelect').load(location.href+' #addressSelect');

        if (availableOrderAddresses.length === 0) {
            selectElement.append('<option value="">배송지가 없습니다</option>');
            console.log("availableOrderAddresses.length == 0 배송지가 없습니다");
        } else {
            selectElement.append('<option value="">배송지를 선택하세요</option>');
            console.log("availableOrderAddresses.length != 0 배송지를 선택하세요", availableOrderAddresses.length);

            availableOrderAddresses.forEach(function (availableOrderAddress) {
                var optionText = availableOrderAddress.address + ' ' + availableOrderAddress.detailAddress;
                var optionValue = JSON.stringify(availableOrderAddress); // 주소 객체 전체를 value로 사용 (필요에 따라 변경)
                console.log(optionText);
                selectElement.append('<option value="' + optionValue + '">' + optionText + '</option>');
            });
        }
    }
</script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
