<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>결제 페이지</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <style>
        .product-image {
            width: 75px;
            height: 100px;
            object-fit: cover;
        }
    </style>
</head>
<body>
<!-- 헤더 -->
<div th:replace="~{fragment/bodyHeader :: userAdinHeader(${username})}"></div>

<form th:action method="post">
    <div class="container mt-4">
        <h1 class = "mt-4">결제 페이지</h1>
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>이미지</th>
                        <th>상품명</th>
                        <th>가격</th>
                        <th>수량</th>
                        <th>주문 가격</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- OrderItem 리스트를 반복하여 행 생성 -->
                    <tr th:each="orderItem : ${orderItems}">
                        <td></td>
                        <td class="image-cell">
                            <!-- 이미지 -->
                            <img th:src="|/images/${orderItem.storeFileName}|" class="product-image">
                        </td>
                        <td th:text="${orderItem.name}"></td>
                        <td th:text="${orderItem.price}"></td>
                        <td th:text="${orderItem.count}"></td>
                        <td th:text="${orderItem.orderPrice}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <h2 class="text-center mb-4">총 주문 가격: <span th:text="${totalPrice}"></span></h2>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">결제하기</button>
            </div>
        </div>
    </div>
</form>
<!-- 푸터 -->
<div th:replace="~{fragment/bodyFooter :: footer}"></div>
<script src="/js/bootstrap.bundle.js"></script>
</body>
</html>
