<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
<!-- 헤더 -->
<div th:replace="~{fragment/bodyHeader :: userAdinHeader(${username})}"></div>

<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-10">
                <h1>User Profile</h1>
                <form th:action="@{/users/{username}/modify(username=${userRegistration.username})}" method="post"
                      th:object="${userRegistration}">
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" id="username" name="username" th:field="*{username}" class="form-control" disabled>
                        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger">Incorrect username</p>
                    </div>
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" id="name" name="name" th:field="*{name}" class="form-control" disabled>
                        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger">Incorrect name</p>
                    </div>
                    <div class="form-group">
                        <label for="birthDate">Birth Date:</label>
                        <input type="text" id="birthDate" name="birthDate" th:field="*{birthDate}" class="form-control" disabled>
                        <p th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}" class="text-danger">Incorrect birthDate</p>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" th:field="*{password}" class="form-control">
                        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger">Incorrect password</p>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" th:field="*{email}" class="form-control" required>
                        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger">Incorrect email</p>
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone:</label>
                        <input type="text" id="phone" name="phone" th:field="*{phone}" class="form-control" required>
                        <p th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="text-danger">Incorrect phone</p>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Save Changes</button>
                </form>
            </div>
        </div>
    </div>

</main>
<!-- 푸터 -->
<div th:replace="~{fragment/bodyFooter :: footer}"></div>
<script src="/js/bootstrap.bundle.js"></script>
</body>
</html>
